<%- include('header') %>

<form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Cotação em Dolar"><br/>
    <input name="quantidade" placeholder="Quantidade de dolar"><br/>
    <button>Converter!</button>
</form>

<%- include('footer') %>